#root {
    height: 100%;
}

#words-container {

    width: 60%;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    span {
        font-size: 20px;
    }

    .passed {
        // color: green;
        background-color: lightgreen;
    }

    .wrong {
        // color: red;
        background-color: lightcoral!important;
    }
    
    .current {
        background-color: lightgrey;;
    }
}