#root {
    height: 100%;
    margin-top: 200px;
    .countdown, .wpm, .word-count {
        text-align: center;
        margin-bottom: 30px;
        font-size: 30px;
        font-weight: bold;
        margin-left: 250px;
    }

    .words-container {
    
        width: 60%;
        margin: auto;
        margin-right: 250px;

         
        span {
            font-size: 20px;
        }
    
        .passed {
            background-color: lightgreen;
        }
    
        .wrong {
            background-color: lightcoral!important;
        }
        
        .current {
            background-color: lightgrey;;
        }
    }
}
